{% extends "base.html" %}

{% block naslov %}Gallery{% endblock %}

{% block vsebina %}
<div class="row">
    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-kid.png" data-lightbox="ninja">
          <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-kid.png">
          <h3 style="text-align: center;">Ninja 1</h3>
        </a>
    </div>

    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-zone.png" data-lightbox="ninja" data-title="Ninja 2">
          <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-zone.png">
          <h3 style="text-align: center;">Ninja 2</h3>
        </a>
    </div>

    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-penguin.png" data-lightbox="ninja">
          <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-penguin.png">
          <h3 style="text-align: center;">Ninja 3</h3>
        </a>
    </div>
</div>
{% endblock %}
