{% extends "base.html" %}

{% block naslov %}Glavna stran{% endblock %}

{% block vsebina %}
<div class="jumbotron">
  <h1>Ninja Tech Forum</h1>

  <p>Welcome to Ninja Tech Forum. Coming soon!</p>
</div>

<div>
  <a href="/topic/add" class="btn btn-info">New Topic</a>

  <br />

  <div id="nalaganje"
       style="text-align: center; font-size:30px;">
    STRAN SE NALAGA
  </div>

  <br />

  <table class="table">
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>Author Email</th>
    </tr>
    {% for topic in topics | sort(attribute="created", reverse=True) %}
      <tr>
          <td style="width: 20%">{{ topic.created.strftime("%H:%M %d.%m.%Y") }}</td>
          <td style="width: 60%;">
            <a href="/topic/show/{{ topic.key.id() }}">
              {{ topic.title }}
            </a>
            -
            <a class="details-link" id="{{ topic.key.id() }}">Details</a>
          </td>
          <td style="width: 20%;">{{ topic.author_email }}</td>
        </a>
      </tr>
    {% endfor %}
  </table>

  <div id="naslov-teme" style="font-size: 25px"></div>
  <div id="vsebina-teme"></div>

  <button id="testni-gumb">Testni gumb</button>
  <button id="testni-gumb-2">Testni gumb 2</button>

  <div id="testni-div">
    To je besedilo testnega diva.
  </div>
</div>

{% endblock %}


{% block script %}
  <script src="/assets/custom/js/main.js"></script>
{% endblock %}