{% extends "base.html" %}

{% block naslov %}Glavna stran{% endblock %}

{% block vsebina %}
<div class="jumbotron">
  <h1>Ninja Tech Forum</h1>

  <p>Welcome to Ninja Tech Forum. Coming soon!</p>
</div>

<div>
  <a href="/topic/add" class="btn btn-info">New Topic</a>

  <br />
  <br />

  <table class="table">
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>Author Email</th>
    </tr>
    {% for topic in topics | sort(attribute="created", reverse=True) %}
      <tr>
          <td style="width: 20%">{{ topic.created.strftime("%H:%M %d.%m.%Y") }}</td>
          <td style="width: 60%;">
            <a href="/topic/show/{{ topic.key.id() }}">
              {{ topic.title }}
            </a>
          </td>
          <td style="width: 20%;">{{ topic.author_email }}</td>
        </a>
      </tr>
    {% endfor %}
  </table>

  <button id="testni-gumb">Testni gumb</button>
</div>

{% endblock %}


{% block script %}
<script>
  $(document).ready(function() {
    console.log("Izpis preko JS.");
    var name = "Rok";

    if (name === "Rok") {
        console.log("Pozdravljeni, Rok.");
    } else {
        console.log("Pozdravljen, neznanec.");
    }

    function izpis(text) {
        console.log(text);
    }

    izpis("Klic funkcije izpis.");

    var seznam = ["ABC", 23, false];
    seznam.forEach(function(element) {
       console.log(element);
    });

    $("h1").css("color", "red");

    $("#testni-gumb").click(function() {
        console.log("Klik gumba");
        
        var glava = $("h1");
        glava.css("font-size", "20px");
        $("body").css("background-color", "green");
        glava.hide();
    });
  });
</script>

{% endblock %}