{% extends "base.html" %}

{% block naslov %}Show Topic{% endblock %}

{% block vsebina %}
  {% if is_user_admin %}
    <form method="post" action="/topic/{{ topic.key.id() }}/delete">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <button class="btn btn-danger">Delete topic</button>
    </form>
    <br />
  {% endif %}

  <div class="panel panel-primary">
    <div class="panel-heading">{{ topic.title }}</div>
    <div class="panel-body">
      <p style="font-size: 12px">{{ topic.author_email }} - {{ topic.created }}</p>
      <p>
        {{ topic.content }}
      </p>
    </div>
  </div>

  {% for comment in comments | sort(attribute="created") %}
    <div class="panel panel-info" style="margin: 4px 25px">
      <div class="panel-body">
        <p style="font-size: 12px">{{ comment.author_email }} - {{ comment.created }}</p>
        <p>
          {{ comment.content }}
        </p>
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h3>Add a Comment</h3>
      <form method="post" action="/topic/show/{{ topic.key.id() }}/comment/add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <div class="form-group">
          <textarea name="text" class="form-control" rows="6" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
